* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Laila;
    color: #fff;
    user-select: none;
}

.iniani {
    transition: ease-in 1s;
}

body {
    background: rgba(0, 0, 0, 1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(0, 255, 0, 0.20);
    background-image: url(./logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 25%;
    padding: 20px;
    outline: 5px solid darkgreen;
    outline-offset: 5px;
    box-shadow: 0 0 100px gold;
}

.clock {
    position: relative;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 25px solid darkcyan;
}

#inside_clock {
    position: relative;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    top: -22%;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid goldenrod;
    background-color: rgba(0, 0, 0, 0.333);
}

#logo_div {
    position: relative;
    height: 75px;
    width: 75px;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--j)));
    inset: 5px;
    text-align: center;
}

.insideclock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--jk)));
    inset: 0px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--j)));
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    height: 30px;
    width: 50px;
    color: gold;
    filter: drop-shadow(0px 0px 2px lime);
}

.insideclock span b {
    transform: rotate(calc(-30deg * var(--jk)));
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    width: 24px;
    color: gold;
    /* filter: drop-shadow(0px 0px 2px lime); */
}

span.ticks {
    position: absolute;
    transform: rotate(calc(6deg * var(--ticks)));
    inset: -28px;
    display: inline;
}

mark {
    border-radius: 15%;
}

.ticks {
    vertical-align: middle;
}

span.ticks b {
    transform: rotate(90deg);
    font-size: 24px;
    font-weight: 900;
    height: 32px;
    width: 50px;
    color: gold;
}

.inside_hand, .hand, .handrev {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.inside_hand i {
    position: absolute;
    background: var(--clr);
    height: var(--ht);
    width: var(--wt);
    z-index: 0;
    border-radius: 40%;
}


#hour_ii {
    --clr: coral;
    --ht: 25px;
    --wt: 5px;
    filter: drop-shadow(0px 0px 1px lime);
}

#minute_ii {
    --clr: lightblue;
    --ht: 35px;
    --wt: 4px;
    filter: drop-shadow(0px 0px 1px lime);
}

#second_ii {
    --clr: lightyellow;
    --ht: 45px;
    --wt: 3px;
    filter: drop-shadow(0px 0px 1px lime);
}

.hand i, .handrev i {
    position: absolute;
    background: var(--clr);
    height: var(--ht);
    width: var(--wt);
    z-index: 0;
    border-radius: 40%;
}

#dot i, #inside_dot i {
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inside_dot i {
    height: 5px;
    width: 5px;
}

#month_date {
    position: relative;
    font-size: 24px;
    font-weight: bolder;
    top: -20px;
    left: -60px;
}

#month {
    position: relative;
    left: 95px;
    background-color: #fff;
    color: #000;
}

#date {
    left: 160px;
}

#digital {
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    top: 90px;
    left: -86px;
}

#utc_span {
    font-size: small;
    left: -135px;
    top: 15px;
    color: gold;
}

#year {
    --clr: white;
    --ht: 250px;
    --wt: 2px;
    filter: drop-shadow(0px 0px 5px lime);
}

#hour {
    --clr: red;
    --ht: 90px;
    --wt: 9px;
    filter: drop-shadow(0px 0px 5px lime);
}

#rev_hour {
    --clr: red;
    --ht: 20px;
    --wt: 9px;
    filter: drop-shadow(0px 0px 5px lime);
}

#minute {
    --clr: blue;
    --ht: 160px;
    --wt: 7px;
    filter: drop-shadow(0px 0px 5px lime);
}

#rev_minute {
    --clr: blue;
    --ht: 32px;
    --wt: 7px;
    filter: drop-shadow(0px 0px 5px lime);
}

#second {
    --clr: yellow;
    --ht: 200px;
    --wt: 4px;
    filter: drop-shadow(0px 0px 5px lime);
}

#rev_second {
    --clr: yellow;
    --ht: 40px;
    --wt: 4px;
    filter: drop-shadow(0px 0px 5px lime);
}

#msecond1, #msecond2, #msecond3 {
    --ht: 25px;
    --wt: 10px;
}

#msecond1 {
    --clr: gold;
}

#msecond2 {
    --clr: red;
}

#msecond3 {
    --clr: blue;
}

#digital>span>mark {
    line-height: 1.0;
    height: 45px;
    width: 63px;
    display: inline-block;
    font-family: 'Courier New', monospace;
}

#month_date>span>mark {
    line-height: 1.0;
    height: 22px;
    width: 55px;
    display: inline-block;
}

#digital_hour {
    position: relative;
    left: -108px;
    background-color: red;
    color: #000;
}

#digital_minute {
    position: relative;
    left: -45px;
    background-color: blue;
    color: white;
}

#digital_second {
    position: relative;
    left: 18px;
    background-color: yellow;
    color: #000;
}

#digital_msecond {
    position: relative;
    font-size: xx-large;
    background-color: black;
    color: green;
    top: 0px;
    left: 82px;
    height: 32px !important;
    width: 63px !important;
}

#utc_digital {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    top: 70px;
    left: -96px;
}

#utc_digital>span>mark {
    line-height: 1.0;
    height: 20px;
    width: 25px;
    display: inline-block;
    font-family: 'Courier New', monospace;
}

#utc_month {
    position: relative;
    left: -55px;
    background-color: white;
    color: black;
    width: 40px !important;
}

#utc_date {
    position: relative;
    left: -12px;
    background-color: inherit;
    color: white;
}

#utc_digital_hour {
    position: relative;
    left: 45px;
    background-color: coral;
    color: #000;
}

#utc_digital_minute {
    position: relative;
    left: 70px;
    background-color: lightblue;
    color: #000;
}

#utc_digital_second {
    position: relative;
    left: 95px;
    background-color: lightyellow;
    color: #000;
}

#utc_digital_msecond {
    position: relative;
    font-size: small;
    background-color: black;
    color: lightgreen;
    top: 3px;
    left: 120px;
    height: 11px !important;
    width: 30px !important;
}

.nep {
    width: 65px !important;
    height: 30px !important;
    left: 85px !important;
    padding-top: 5px;
}

@media screen and (max-width: 400px) {
    * {
        scrollbar-width: none;
    }

    .container {
        background-size: 30%;
        padding: 5px;
        outline-offset: 3px;
        box-shadow: 0px 0px 50px gold;
        overflow: clip;
    }

    .clock {
        width: 300px;
        height: 300px;
        inset: 0px;
    }

    #inside_clock {
        width: 75px;
        height: 75px;
        top: -20%;
    }

    .insideclock span {
        inset: -5px;
    }

    .insideclock span b {
        font-size: 12px;
        height: 16px;
        width: 12px;
    }

    span.ticks {
        position: absolute;
        transform: rotate(calc(6deg * var(--ticks)));
    }

    #year {
        --ht: 150px !important;
        --wt: 2px;
    }

    #hour {
        --ht: 50px !important;
    }

    #hour_ii {
        --ht: 10px !important;
        --wt: 4px !important;
    }

    #rev_hour {
        --ht: 10px !important;
    }

    #minute {
        --ht: 75px !important;
    }

    #minute_ii {
        --ht: 20px !important;
        --wt: 3px !important;
    }

    #rev_minute {
        --ht: 14px !important;
    }

    #second {
        --ht: 100px !important;
    }

    #second_ii {
        --ht: 30px !important;
        --wt: 2px !important;
    }

    #rev_second {
        --ht: 18px !important;
    }

    #msecond1, #msecond2, #msecond3 {
        --ht: 20px;
        --wt: 5px;
    }

    #inside_dot i {
        height: 4px;
        width: 4px;
    }

    #month_date {
        font-size: 20px;
        top: -20px;
    }

    #month {
        left: 40px;
        height: 19px !important;
    }

    #digital {
        font-size: 20px;
        top: 45px;
        left: 12px;
    }

    #digital>span>mark {
        height: 20px;
        width: 30px;
        font-family: 'Courier New', monospace;
    }

    #month_date>span>mark {
        width: 50px;
    }

    #digital_minute {
        left: -80px;
    }

    #digital_second {
        left: -50px;
    }

    #digital_msecond {
        font-size: small;
        top: 0px;
        left: -20px;
        height: 15px !important;
        width: 25px !important;
    }

    #utc_digital {
        font-size: 12px;
        top: 30px;
        left: -42px;
    }

    #utc_span {
        font-size: xx-small;
        left: -115px;
        top: 10px;
        color: gold;
    }

    #utc_digital>span>mark {
        height: 12px;
        width: 20px;
    }

    #utc_month {
        width: 30px !important;
    }

    #utc_date {
        left: -25px;
    }

    #utc_digital_hour {
        left: 0px;
    }

    #utc_digital_minute {
        left: 20px;
    }

    #utc_digital_second {
        left: 40px;
    }

    #utc_digital_msecond {
        font-size: xx-small;
        left: 60px;
        top: 2px;
        height: 7px !important;
        width: 20px !important;
    }

    .nep {
        width: 50px !important;
        height: 22px !important;
        left: 40px !important;
        top: -1px !important;
        padding-top: 3px;
        font-size: medium;
    }

    #date {
        font-size: medium;
        top: 7px !important;
        left: 97px !important;
    }
}